body{
  font-family:'Roboto', sans-serif;
}
.navbar{
  height:60px;
  background-color: #FFF;
  font-family:'Coda Caption', sans-serif;
  font-size: 10px;
  box-shadow:0px 5px 10px;
}
.navbar-brand img{
  padding-top:0;
  margin-top:0;
  width:50px;
  height:30px;
}
.navbar li{
  margin-top:5px;
  margin-left:20px;
  text-decoration:none;
}
.nav{
  background-color:#FFF;
}
#emailupdates{
  background-color: #000;
  color: #FFF;
  margin:auto;
  font-family: 'Six Caps', sans-serif;
}
#emailupdates img{
  filter: invert(1);
  -webkit-filter:invert(1);
  width:50px;
  height:50px;
}
#bigfacebook{
  margin-left:3vw;
}
#insta{
  margin-left:1vw;
}
#lists{
  display:flex;
}
#listemailseparator ul{
  margin:10px;
  margin-top:1vh;
  font-size: 25px;
  list-style-type:none;
  color:#FFF
}
#contactinfo .margined{
  margin-top:17px;
}
#contactinfo .margintop{
  margin-left:30px;
}
#contactinfofields .marginedinfo{
  margin-top:8px;
}
#contactinfofields input{
  color:#000;
}
#contactinfofields button{
  font-family: 'Coda Caption', sans-serif;
  font-size: 15px;
  margin-top:8px
}
footer {
    position: fixed;
    top: 45%;
    right: -10px;
    z-index: 2;
    display: block;
    margin-top: -200px;
    padding: 0;
    width: 75px;
    height: 450px;
    border: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:0px 5px 10px;
}
footer img{
  margin-top:5px;
  margin-bottom:5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#adoptables-page{
  margin:auto;
  height:auto;
  background-color: #FFF;
  display:block;
}
#adoptables-page ul{
  display:block;
  margin-top:15px;
  list-style-type:none;
}
#adoptables-page li{
  display:inline;
}
#adoptables-page li a{
  text-decoration:none;
  color:#666666;
}
#adoptables-page li a:hover{
  text-decoration:none;
  color:#000000;
}
#adoptables-page li img{
  width:300px;
  height:300px;
}
#adoptables-page li figure{
  width:300px;
  height:300px;
  display:inline-block;
  margin-bottom: auto;
  margin-left:40px;
  margin-top:40px;
}
#adoptables-page li figcaption{
  margin:auto;
  font-family:"Six Caps", sans-serif;
  font-size:30px;
}
.image{
  object-fit: cover;
}
