body {
    background: url(bg1.svg) no-repeat left top, url(bg2.svg) no-repeat right top;
    background-image: url(Images/IMG_3956.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: 'Roboto', sans-serif;
}

.nav{
  background-color: #FFF;
}

/** reset page-wrapper */

.page-wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

    .page-wrapper::before,
    .page-wrapper::after {
        display: none;
    }

/** $intro */

.intro {
    z-index: 3;
    margin-top:5vh;
}

    .intro h3,
    .intro p {
        padding: 15px 80px 0 80px;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        -webkit-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
    }

    .intro h3 {
        color: #FFF;
        font-size: 30px;
        line-height: 30px;
    }

    .intro:hover h3 {
        color: #FFF;
    }

header {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 4;
    display: block;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
    background: url(layer-middle.svg) repeat-y center top;
    background-color: transparent;
    -moz-background-size: 450px auto;
    -o-background-size: 450px auto;
    -webkit-background-size: 450px auto;
    background-size: 450px auto;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -moz-transition: -moz-transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out;
    -o-transition: -o-transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out;
    transition: transform 1s 1s ease-out, top 1s ease-out, margin 1s 1s ease-out, left 1s 1s ease-out;
}

    header::before,
    header::after {
        position: absolute;
        left: 0;
        z-index: -1;
        display: block;
        width: 450px;
        content: '';
    }

    header::before {
        top: -150px;
        height: 400px;
        background: url(hook3.svg) no-repeat center bottom, url(layer-frame.svg) no-repeat center 559px;
        -moz-background-size: 360px auto, 450px auto;
        -o-background-size: 360px auto, 450px auto;
        -webkit-background-size: 360px auto, 450px auto;
        background-size: 360px auto, 450px auto;
    }

    header::after {
        bottom: -41px;
        height: 41px;
        background: transparent url(layer-frame.svg) no-repeat center bottom;
        -moz-background-size: 450px auto;
        -o-background-size: 450px auto;
        -webkit-background-size: 450px auto;
        background-size: 450px auto;
    }

    header:hover {
        top: 150px;
        margin: 0 0 0 -190px;
        -moz-transform: rotateY(0) scale(1);
        -ms-transform: scale(1);
        -o-transform: rotateY(0) scale(1);
        -webkit-transform: rotateY(0) scale(1);
        transform: rotateY(0) scale(1);
    }

    header h3{
      display:none;
    }
    header:hover h3{
      display:flex;
      font-family: 'Six Caps', sans-serif;
      text-align: center;
      margin-right:50px;
      font-size: 37px;
    }

h1,
h2 {
    position: static;
    display: block;
}

h1 {
    margin: 0;
    padding: 40px 70px 10px 70px;
    font-size: 60px;
    line-height: 60px;
}

h2 {
    padding: 10px 70px 40px 70px;
    font-size: 16px;
    line-height: 16px;
}
html:not([lang="zh-tw"]):not([lang="en"]) .main div[role="article"].requirements p:nth-child(3) {
    font-size: 18px;
    line-height: 21px;
}

footer {
    position: fixed;
    top: 45%;
    right: -10px;
    z-index: 2;
    display: block;
    margin-top: -200px;
    padding: 0;
    width: 75px;
    height: 450px;
    border: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:0px 5px 10px;
}
footer img{
  margin-top:5px;
  margin-bottom:5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

html:not([lang="zh-tw"]) .zen-resources .view-css a {
    white-space: normal;
    line-height: 25px;
}
    .whyus img{
      width:400px;
      height:300px;
      object-fit:cover;
      margin:0px;
    }

#whyus{
  background-color:#FFF;
  display:inline-block;
  margin:auto;
  height:auto;
}

#whyus div{
  display:inline-block;
  margin:auto;
  margin-left:15vw;
  width:400px;
  height:550px;
  overflow:hidden;
}

#whyus h3{
  margin:0px;
  text-align: justify;
  font-family:'Six Caps', sans-serif;
  font-size: 75px;
}
#whyus h4{
  margin:0px;
  text-align: justify;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
}

#ourmission{
  height:700px;
  margin:auto;
  color:#000;
  background-image:url("Images/Jackson+look+into+sun.jpg");
  background-size:cover;
  background-attachment:fixed;
  background-position:right;
}
#ourmission h1{
  font-family: 'Six Caps', sans-serif;
}
#missioncaption{
  padding-top: 10vh;
  padding-left: 5vw;
  width:70vw;
}

#ourteam{
  background-color:#FFF;
  margin:auto
}
#ourteamimage{
  background-image:url(Images/Pack+Walk+1.jpg);
  background-position: center;
  margin-right:5vw;
  margin-left:5vw;
  width:90vw;
  height:67.5vw;
  color:#FFF;
}
#ourteamimage h1{
  font-family: 'Six Caps', sans-serif;
  text-align: center;
  padding-top:6vw;
}
#ourteamimage h3{
  text-align: center;
  padding-bottom:0vw;
  margin-bottom:0vw;
  margin-top:80vh;
  line-height: 2vw;
  font-size:15px;
}

.navbar{
  height:60px;
  background-color: #FFF;
  font-family:'Coda Caption', sans-serif;
  font-size: 10px;
  box-shadow:0px 5px 10px;
}
.navbar-brand img{
  padding-top:0;
  margin-top:0;
  width:50px;
  height:30px;
}
.navbar li{
  margin-top:5px;
  margin-left:0px;
  text-decoration:none;
}
.navbar li:hover{
  color:#FFF;
}
#emailupdates{
  background-color: #000;
  color: #FFF;
  margin:auto;
  font-family: 'Six Caps', sans-serif;
}
#emailupdates img{
  filter: invert(1);
  -webkit-filter:invert(1);
  width:50px;
  height:50px;
}
#bigfacebook{
  margin-left:3vw;
}
#insta{
  margin-left:1vw;
}
#lists{
  display:flex;
}
#listemailseparator ul{
  margin:10px;
  margin-top:1vh;
  font-size: 25px;
  list-style-type:none;
  color:#FFF
}
#contactinfo .margined{
  margin-top:17px;
}
#contactinfofields .marginedinfo{
  margin-top:8px;
}
#contactinfofields input{
  color:#000;
}
#contactinfofields button{
  font-family: 'Coda Caption', sans-serif;
  font-size: 15px;
  margin-top:8px
}
@media only screen and (max-width: 552px) {
  header{
    position: absolute;
    top: 40px;
    left: 35%;
    z-index: 4;
    display: block;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
  }
  header:hover{
    position: absolute;
    top: 40px;
    left: 35%;
    z-index: 4;
    display: block;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
  }
  header::before{
    position: absolute;
    top: 40px;
    left: 35%;
    z-index: 4;
    display: block;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
  }
  header::after{
    position: absolute;
    top: 40px;
    left: 35%;
    z-index: 4;
    display: block;
    margin: 0 0 0 -190px;
    padding: 0;
    width: 450px;
  }
  header h3{
    display:flex;
    font-family: 'Six Caps', sans-serif;
    text-align: center;
    margin-right:50px;
    font-size: 37px;
  }
}
@media only screen and (max-width: 1169px){
  #whyus div{
    margin-left:30vw;
  }
}
@media only screen and (max-width:642px){
  #whyus div{
    margin-left:2vw;
  }
}
@media only screen and (max-width:1111px){
  #ourteamimage h3{
    margin-top:60vh;
  }
}
@media only screen and (max-width:904px){
  #ourteamimage h3{
    margin-top:40vh;
  }
}
@media only screen and (max-width:644px){
  #ourteamimage h3{
    margin-top:2vh;
    line-height: normal;
  }
}
